*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img{
    vertical-align: middle;
}

.visually-hidden{
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}



a{
    display: inline-block;
    text-decoration: none;
}

ul,
ol{
    margin: 0;
    padding: 0;
    list-style-type: none;

}

html{
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
    height: 100%;
    font-family: 'Barlow Semi Condensed', "Arial",sans-serif;
    font-weight: 400;
    font-size: 16px;
    background: radial-gradient(134.34% 134.34% at 50% 0%, #1F3757 0%, #131537 100%);
}

.wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;

}

.scoreboard {
    max-width: 700px;
    width: 100%;
    border-radius: 15px;
    border: 3px solid rgba(255, 255, 255, 0.29);
    margin-top: 48px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 24px 18px 32px;
}

.title {
    margin: 0;
    color: #FFF;
    text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.20);
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px; /* 80% */
}

.score {
    background-color: #fff;
    border-radius: 8px;
    background: linear-gradient(0deg, #F3F3F3 0%, #FFF 100%);
    box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.20);
    padding: 16px 48px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.score h4 {
    color: #565468;
    font-size: 51px;
}

.score p {
    margin: 0;
    color: #2a45c2;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 2.5px;
}


.hands {
    background-image: url("../images/triangle.svg");
    background-repeat: no-repeat;
    width: 476px;
    height: 430px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 64px;
    background-position: center;
}

.scissors {
    margin-left: 30px;
}

.paper {
    margin-right: 30px;
}

.rock {
    margin-top: 20px;
}

.hands .hand {
    cursor: pointer;
    transition: all 0.25s;
}

.hands .hand:hover {
    transform: translate3d(0px, -8px, 0px);
}

.contest {
    max-width: 900px;
    width: 100%;
    display: none;
    margin-top: 50px;
}

.contest img {
    width: 275px;
    height: 275px;
}

.contest > div {
    flex: 1;
}

.contest h2 {
    margin-top: 22px;
    margin-bottom: 63px;
    color: #FFF;
    text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.20);
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px; /* 133.333% */
    letter-spacing: 3px;
    text-align: center;
}

.contest .handImageContainer {
    display: flex;
    justify-content: center;
}

.referee {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.referee h2 {
    color: #FFF;
    text-align: center;
    text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.20);
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.newGame {
    background-color: white;
    border-radius: 8px;
    background: linear-gradient(0deg, #F3F3F3 0%, #FFF 100%);
    box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.20);
    padding: 15px 61px;
    cursor: pointer;
    color: #3B4262;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 2.5px;
    transition: all 0.2s;
}

.newGame:hover {
color: #DB2E4D;
background: linear-gradient(0deg, #F3F3F3 0%, #FFF 100%);
}


.rules-btn {
    position: absolute;
    bottom: 2rem;
    right: 2rem;
    background: none;
    outline: none;
    border-radius: 8px;
    border: 1px solid #FFF;
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 2.5px;
    padding: 11px 36px;
    text-transform: uppercase;
    cursor: pointer;
}

.polygon-wrapper {
    position: absolute;
    bottom: 2rem;
    right: 13rem;
    border: 1px solid #fff;
    border-radius: 8px;
    cursor: pointer;
}

.polygon-btn   {
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 2.5px;
    padding: 11px 36px;
    text-transform: uppercase;
}

.rules-btn:hover,
.polygon-btn:hover {
    border: 2px solid #fff;
}


.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); 
    z-index: 1;
    opacity: 0.5;
}

.modal {
    position: absolute;
    height: 415px;
    width: 100%;
    top: 20%;
    left: 0;
    right: 0;
    margin: 0 auto;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.20);
    max-width: 400px;
    padding: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    z-index: 2;
}

.modal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 48px;
}

.close-btn {
    outline: none;
    cursor: pointer;
    background-color: transparent;
    border: transparent;
}

.modal-title {
    margin: 0;
    color: #3B4262;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px; /* 100% */
}

.show-modal {
    opacity: 1;
    pointer-events: initial;
}